
/*add a pop up view of the cart*/

/* Button used to open the contact form - fixed at the top of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* The popup form - hidden by default */
.popup {
  display: none;
  position: fixed;
  top: 52px;
  width:300px;
  right: 8px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
#cart-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Add a red background color to the cancel button */
#cart-container .cancel {
  background-color: red;
  padding:5px;
  margin:5px 0px;
  width:100%;
}
#cart-container .checkout {
  background-color: green;
  width:100%;
  padding:5px;
  margin:5px 0px;
}
#cart-container .update {
  background-color: rgb(4, 128, 251);
  width:100%;
  margin:5px 0px;
}
/* Add some hover effects to buttons */
#cart-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#cart-container h6{
  display:inline-block;                                                                                                                                                                                                                                                                                                                                                     
  font-weight:bold;   
  width:48%;
}
button a{
  color:black;
}