
div.primary {
  background-image: url("../img/black-cat-banner.png");
  background-repeat:no-repeat;
  background-position:left;
  background-size:23%;
 }
#wrapper{
  background-color:rgb(217, 217, 217);
}
form{
  display:inline-block;
  vertical-align:top;
  margin-left:1%;
}
#messages{
  margin:8px;
  font-size: 13px;
  color:red;
}
#messages p{
  height:16px;
  margin:0px;
}
.hidden {
  display:none;
}
h6{
  font-size:10px;
}
span{
  font-weight:bold;
}
#btnSubmit{
  font-size:20px;
  font-weight:bold;
}