
span{
  font-weight:bold;
}
form{
  display:inline-block;
  height:100%;
}
form select{
  width:50px;
}
#shipping-form{
  padding-left:20px;
}
img {
  max-height:200px;
}

.update {
  background-color: rgb(4, 128, 251);
  width:100%;
  margin-top:5px;
  margin-bottom:15px;
  vertical-align:bottom;
}
