<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Yoga Store | Welcome</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/landing.css')}}">
    <link rel="stylesheet" href="../static/css/landing.css">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
   
  </head>
  <body>
    

    <!-- Start Top Bar -->
    <div class="top-bar-wrapper">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Yoga Store</li>
          <li><a href="#yoga-products">Products</a></li>
          <!--<li><a href="#yoga-services">Services</a></li>-->
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if 'id' in session %}
          <li>Welcome, {{session.first_name}}</li>
          <li><a href="/my_account">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login|Register</a></li>
          <li><a href="/clear_session">Clear Session</a></li>
          {% endif %}
          <li><button type="button" class="open-button" onclick="openCart()">View Cart</button></li>
        </ul>
      </div>
    </div>
    </div>
    <!-- End Top Bar -->
    <div class="callout large primary">
        <div class="text-center">
          <h1>Yoga Store</h1>
        </div>
      </div>

    <!--<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <ul class="orbit-container">
          <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
          <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
          <li class="orbit-slide is-active">
            <img src="https://placehold.it/2000x750">
          </li>
          <li class="orbit-slide">
            <img src="https://placehold.it/2000x750">
          </li>
          <li class="orbit-slide">
            <img src="https://placehold.it/2000x750">
          </li>
          <li class="orbit-slide">
            <img src="https://placehold.it/2000x750">
          </li>
        </ul>
      </div>-->
    <div class="row column text-center">
      <h2>About Us</h2>
      <hr>
      <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
      <hr>
    </div>

    <div class="row column text-center">
      <h2>Products</h2>
      <hr>
    </div>

    <div class="row small-up-2 large-up-4" id="yoga-products">
      {% for product in all_products %}
      <div class="column product-column">
        <img class="thumnail" src="{{url_for('static',filename='img/'+product.img_file)}}">
        <h5>{{product.name}}</h5>
        <p>${{product.unit_cost}}</p>
        <a href="/add_to_cart/{{product.id}}" class="button expanded">Add to Cart</a>
      </div>
      {% endfor %}
     
    </div>

    <hr>

    <div class="row column text-center" >
      <div class="callout primary">
        <div id="paypal-button-container"></div>
        <h3></h3>
      </div>
    </div>

    <div id="my-cart" class="popup">
      <div id="cart-container">
        {% if session.cart|length > 0 %}
        <form action="/update_cart" method="POST">
          {% for item in session.cart %}
          <p>
            <h6>{{item.name}} </h6> <h6>${{item.quantity * item.unit_cost}}</h6>
            <label for="{{item.id}}">Quantity</label>
            <input type="number" name="{{item.id}}" id="{{item.id}}" class="cart-item form-control" value="{{item.quantity}}" min="0">
          </p>        
          <hr>
          {% endfor %}
          <h6>Cart Total: ${{session.cart_total}}</h6>
          <input type="submit" value="Update Cart" class="btn update">
          <button type="button" class="btn checkout"><a href="/view_cart">Checkout</a></button>
        </form>
        {% else %}
          <p>No items in cart!</p>
        {% endif %}
        <button type="button" class="btn cancel" onclick="closeCart()">Close</button>    
      </div>
    </div>
<!--
    <hr>

    <div class="row column text-center" id="yoga-services">
      <h2>Services</h2>
      <hr>
    </div>
  -->
  <!--
    <div class="row small-up-2 large-up-4">
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Add to Cart</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Add to Cart</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Add to Cart</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Add to Cart</a>
      </div>
    </div>-->
<!--
    <hr>
    <div class="row">
      <div class="medium-4 columns">
        <h4>Top Products</h4>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <h4>Top Products</h4>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <h4>Top Products</h4>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="callout large secondary">
      <div class="row">
        <div class="large-4 columns">
          <h5>Vivamus Hendrerit Arcu Sed Erat Molestie</h5>
          <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
        </div>
        <div class="large-3 large-offset-2 columns">
          <ul class="menu vertical">
            <li><a href="#yoga-products">Products</a></li>
            <li><a href="#yoga-services">Services</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Login|Register</a></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <ul class="menu vertical">
            <li><a href="#">Shopping Cart</a></li>
            <li><a href="#">Contact Us</a></li>
            <!--<li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>-->
          </ul>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script
    src="https://www.paypal.com/sdk/js?client-id=AdQRFW9SyfvciiVeF5oeOWosrOuz1qAdMi0Lguu9rT8MxDya68zQZiQGljosQkIXT9e197qV120VSjre">
    </script>
    <script>
        paypal.Buttons({
          createOrder: function(data, actions) {
            // Set up the transaction
            return actions.order.create({
              purchase_units: [{
                amount: {value: '0.01'}
              }]
            });
          }
        }).render('#paypal-button-container');
      </script>
      <!--<script src="{{url_for('static',filename='js/landing.js')}}"></script>-->
      <script>
      function openCart(){
        document.getElementById("my-cart").style.display = "block";
      }
      function closeCart(){
        document.getElementById("my-cart").style.display = "none";
      }
      </script>
  </body>
</html>
