<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Yoga Store | Welcome</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/place_order.css')}}">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
   
  </head>
  <body>

    
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Yoga Store</li>
          <li><a href="#yoga-products">Products</a></li>
          <li><a href="#yoga-services">Services</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if 'id' in session %}
          <li>Welcome, {{session.first_name}}</li>
          <li><a href="/my_account">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login|Register</a></li>
          {% endif %}
          <li><a href="/cart">Cart</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->


    <div class="callout large primary">
      <div class="text-center">
        <h1>Place Order</h1>
      </div>
    </div>
    
    <div class="row column text-center">
      <h3><span>Order Total: </span> $400</h3>
      <hr>
    </div>

    <div class="row column large-up-2">
      <div class="column">

        <h1>Place Order with PayPal</h1>      
        <div id="paypal-button"></div>
        <div id="paypal-button-container"></div>
      </div>
      
      <div class="column">
        <h1>Cart</h1>
        <hr>
        {% for item in session.cart %}
        <div class="row small-up-2 ordered-item">
          <div class="column">
            <h6><span>Name:</span>{{item.name}}</a></h6>
            <h6><span>Description:</span> {{item.description}}</h6>
            <h6><span>Quantity:</span> {{item.quantity}}</h6>
            <h6><span>Unit Cost:</span> {{item.unit_cost}}</h6>
            <h6><span>Total Cost:</span> {{item.unit_cost * item.quantity}}</h6>
          </div>
          <div class="column">
              <img class="thumbnail" src="{{url_for('static',filename='img/'+item.img_file)}}">
          </div>
        </div>
        {% endfor %}
        <hr>
      </div>
    </div>
    
    <div class="callout large secondary">
      <div class="row">
        <div class="large-4 columns">
          <h5>Vivamus Hendrerit Arcu Sed Erat Molestie</h5>
          <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
        </div>
        <div class="large-3 large-offset-2 columns">
          <ul class="menu vertical">
            <li><a href="#yoga-products">Products</a></li>
            <li><a href="#yoga-services">Services</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Login|Register</a></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <ul class="menu vertical">
            <li><a href="#">Shopping Cart</a></li>
            <li><a href="#">Contact Us</a></li>
            <!--<li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>-->
          </ul>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>$(document).foundation();</script>
    <script src="https://www.paypal.com/sdk/js?client-id=AdQRFW9SyfvciiVeF5oeOWosrOuz1qAdMi0Lguu9rT8MxDya68zQZiQGljosQkIXT9e197qV120VSjre"></script>
    <script src="{{url_for('static',filename='js/cart_popup.js')}}"></script>
    <script src="{{url_for('static',filename='js/paypal.js')}}"></script>
</body>
</html>
