<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Yoga Store|Cart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/view_cart.css')}}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{url_for('static',filename='js/main.js')}}"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Yoga Store</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <!--<li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>-->       
        {% if 'id' in session %}
        <li>Welcome, {{session.first_name}}</li>
        <li><a href="/my_account">My Account</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login|Register</a></li>
        <li><a href="/clear_session">Clear Session</a></li>
        {% endif %}
        <li><a href="/">Home</a></li>
        <li><a href="#">Cart</a></li>
      </ul>
    </div>
  </div>

  <div class="callout large primary">
    <div class="text-center">
      <h1>Cart Details</h1>
    </div>
  </div>

  <div class="row small-up-2 ordered-item">
    <div class="column">
    <form  action="/update_cart_checkout" method="POST">
      <h1>Items</h1>
      <hr>
      {% for item in session.cart %}
      <div class="column">
        <h6><span>Name:</span><a href="/view_item/item.id">{{item.name}}</a></h6>
        <h6><span>Description:</span>{{item.description}}</h6>      
        <p>Quantity:<input type="number" name="{{item.id}}" id="{{item.id}}" class="cart-item form-control" value="{{item.quantity}}" min="0"></p>    
        <h6><span>Unit Cost:</span> ${{item.unit_cost}}</h6>
        <h6><span>Total Cost:</span> ${{item.unit_cost * item.quantity}}</h6>
    </div>
    <div class="column">
        <img class="thumbnail" src="{{url_for('static',filename='img/'+item.img_file)}}">
    </div>
    <hr>
    {% endfor %}
    <div class="row">
      <h3><span>Order Total: </span> ${{session.cart_total}}</h3>
      <input type="submit" value="Update Cart" class="btn update">
    </div>
  </form>
  </div>

  <div class="column">
      <form action="/add_shipping" method="POST" id='shipping-form'>
        <h1>Shipping Information</h1>
        <hr>
        <p>
          <label for="fn">First Name</label>
          <input type="text" name="first_name" id="fn" class="form-control">
        </p>
        <p>
          <label for="ln">Last Name</label>
          <input type="text" name="last_name" id="ln" class="form-control">
        </p>
        <p>
          <label for="street">Street Address</label>
          <input type="text" name="street" id="street" class="form-control">
        </p>
        <p>
          <label for="city">City</label>
          <input type="text" name="city" id="city" class="form-control">
        </p>
        <p>
          <label for="states">State</label>
          <input type="text" name="state" id="state" class="form-control">
        </p>
        <p>
          <label for="zip_code">Zip Code</label>
          <input type="text" name="zip_code" id="zip_code" class="form-control">
        </p>
        <p>
          <input type="submit" class="btn update" value="Update Cart and Proceed to Checkout with PayPal" id="btnSubmit">
        </p>
      </form>
    </div>
  </div>

  <hr>

  <div class="callout large secondary">
    <div class="row">
      <div class="large-4 columns">
        <h5>Vivamus Hendrerit Arcu Sed Erat Molestie</h5>
        <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
      </div>
      <div class="large-3 large-offset-2 columns">
        <ul class="menu vertical">
          <li><a href="#yoga-products">Products</a></li>
          <li><a href="#yoga-services">Services</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Login|Register</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul class="menu vertical">
          <li><a href="#">Shopping Cart</a></li>
          <li><a href="#">Contact Us</a></li>
          <!--<li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>-->
        </ul>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>$(document).foundation();</script>
  <script src="https://www.paypal.com/sdk/js?client-id=AdQRFW9SyfvciiVeF5oeOWosrOuz1qAdMi0Lguu9rT8MxDya68zQZiQGljosQkIXT9e197qV120VSjre"></script>
  <script src="{{url_for('static',filename='js/paypal.js')}}"></script>
  <script src="{{url_for('static',filename='js/cart_popup.js')}}"></script>  

</body>

</html>