<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Yoga Store|Cart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/view_cart.css')}}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{url_for('static',filename='js/shipping.js')}}"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <script src="{{url_for('static',filename='js/validate-shipping.js')}}"></script>  

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
  <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Yoga Store</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <!--<li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>-->       
        {% if 'id' in session %}
        <li>Welcome, {{session.first_name}}</li>
        <li><a href="/my_account">My Account</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login|Register</a></li>
        <li><a href="/clear_session">Clear Session</a></li>
        {% endif %}
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>

  <div class="callout large primary">
    <div class="text-center">
      <h1>Cart Details</h1>
    </div>
  </div>
  <div id="messages">
    <p class='fn hidden'>Please enter a first name.</p>
    <p class='ln hidden'>Please enter a last name.</p>
    <p class='street1 hidden'>Please enter a valid street address.</p>
    <p class='street2 hidden'>Please enter a valid street address.</p>
    <p class='city hidden'>Please enter a city.</p>
    <p class='zip_code hidden'>Please enter a vaid zip code.</p>
    <div class='flash-messages'>
      {% with messages = get_flashed_messages() %}
      <!-- declare a variable called messages -->
      {% if messages %}
      <!-- check if there are any messages -->
      {% for message in messages %}
      <!-- loop through the messages -->
      <p>{{message}}</p>
      <!-- display each message in a paragraph tag -->
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </div>

  <div class="row small-up-2 ordered-item">
    <div class="column">
    <form  action="/update_cart_checkout" method="POST">
      <h1>Items</h1>
      <hr>
      {% for item in session.cart %}
      <div class="column">
        <h6><span>Name:</span><a href="/view_item/item.id">{{item.name}}</a></h6>
        <h6><span>Description:</span>{{item.description}}</h6>      
        <p>Quantity:<input type="number" name="{{item.id}}" id="{{item.id}}" class="cart-item form-control" value="{{item.quantity}}" min="0"></p>    
        <h6><span>Unit Cost:</span> ${{item.unit_cost}}</h6>
        <h6><span>Total Cost:</span> ${{item.unit_cost * item.quantity}}</h6>
    </div>
    <div class="column">
        <img class="thumbnail" src="{{url_for('static',filename='img/'+item.img_file)}}">
    </div>
    <hr>
    {% endfor %}
    <div class="row">
      <h3><span>Order Total: </span> ${{session.cart_total}}</h3>
      <input type="submit" value="Update Cart" class="btn update">
    </div>
  </form>
  </div>

  <div class="column">
      <!--<form action="/update_cart_and_shipping_checkout" method="POST" id='shipping-form'>-->
      <!--<form action="/address_validation" method="POST" id='shipping-form'>-->
        <form id="shipping-form">
        <form>
        <h1>Shipping Information</h1>
        <hr>
        <p>
          <label for="fn">First Name</label>
          <input type="text" name="first_name" id="fn" class="form-control">
        </p>
        <p>
          <label for="ln">Last Name</label>
          <input type="text" name="last_name" id="ln" class="form-control">
        </p>
        <p>
          <label for="street1">Street1 Address</label>
          <input type="text" name="street1" id="street1" class="form-control">
        </p>
        <p>
          <label for="street2">Street2 Address</label>
          <input type="text" name="street2" id="street2" class="form-control">
        </p>
        <p>
          <label for="city">City</label>
          <input type="text" name="city" id="city" class="form-control">
        </p>
        <p>
          <label for="state">State</label>
          <input type="text" name="state" id="state" class="form-control">
        </p>
        <p>
          <label for="zip_code">Zip Code</label>
          <input type="text" name="zip_code" id="zip_code" class="form-control">
        </p>
      </form>
      <button id="postBtn" class='btn update'>Proceed to Checkout</button>
    </div>
  </div>

  <hr>

  <div id="address-validation">
    <div id="return"></div>
  </div>

  <div class="callout large secondary">
    <div class="row">
      <div class="large-4 columns">
        <h5>Vivamus Hendrerit Arcu Sed Erat Molestie</h5>
        <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
      </div>
      <div class="large-3 large-offset-2 columns">
        <ul class="menu vertical">
          <li><a href="#yoga-products">Products</a></li>
          <li><a href="#yoga-services">Services</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Login|Register</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul class="menu vertical">
          <li><a href="#">Shopping Cart</a></li>
          <li><a href="#">Contact Us</a></li>
          <!--<li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>-->
        </ul>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>$(document).foundation();</script>
  <script src="https://www.paypal.com/sdk/js?client-id=AdQRFW9SyfvciiVeF5oeOWosrOuz1qAdMi0Lguu9rT8MxDya68zQZiQGljosQkIXT9e197qV120VSjre"></script>
  <script src="{{url_for('static',filename='js/paypal.js')}}"></script>
  <script src="{{url_for('static',filename='js/cart_popup.js')}}"></script>  
  <script>
  $(document).ready(function(){
    $('#postBtn').click(function(){
      var data = $('#shipping-form').serialize();
      $('#paramsSent').html(data);

      $.ajax({
        method: "POST",
        url: "/address_validation",
        data: data
      })
      .done(function(res){
        $('#return').html(res);
      });
    });
  });
  </script>
</body>
</html>